.chat-window{
    height: 80vh;
    padding: 10px;
    margin: 10vh 0 10vh;
    background-image: url(../assist/chat.jpeg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    overflow-y:scroll ;
}
form{
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(48, 46, 46);
    width: 100%;
    max-width: 728px;
    font-size: 1.5rem;
    display: flex;
}
form button{
    width: 20%;
    background-color: rgb(98, 71, 71);
     border: none;
     display: flex;
     justify-content: center;
     align-items: center;
    
}
form button img{
    width: 38px;
    height: 42px;
}
form input{
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background-color: rgb(74, 54, 54);
    color: white;
    outline: 0;
    border: none;
    padding: 0 10px;
}